* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 23, 23);
}

.container {
    /* border: 2px solid rgb(0, 110, 255); */
    /* padding: 5px; */
    border-radius: 5px;
    background: transparent;
    box-shadow: 3px 3px 9px rgb(75, 73, 73), -3px -3px 9px rgb(79, 77, 77);
}

input {
    width: 100%;
    padding: 29px;
    background: transparent;
    border: none;
    box-shadow: 1px 1px  8px rgb(8, 229, 181), -1px -1px 7px rgb(28, 231, 187);
    font-size: 1.6rem;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: #ffffff;
}
.first{
    margin-top: 5px;
}
.pd-top{
    margin-top: 11px;
}
button{
    width: 90px;
    height: 54px;
    margin: 2px;
    font-size: 20px;
    background: none;
    color: #ffffff;
    border-radius: 0px 17px 0px 14px;
    background-color: rgba(178, 175, 175, 0.283);
    border: none;
    cursor: pointer;
}
.operator{
    background-color: rgba(109, 107, 107, 0.283);
    color: rgb(29, 203, 215);
}
.operator:hover{
    background-color: rgba(178, 175, 175, 0.283);
    color: rgb(0, 255, 89);
    font-weight: bolder;
}
.active{
    background-color: rgb(57, 129, 211);
    font-size: 26px;
    width: 189px;
}
.active:hover{
    background-color: rgb(14, 109, 216);
}
button:hover{
    background-color: rgba(109, 107, 107, 0.283);
}
